<div class="container">
    <div *ngIf="cartData.data[0].numInCart === 0;" class="text-center my-5">
      <h4>El carrito está vacío</h4>
      <button class="btn btn-primary btn-lg mt-3" routerLink="/">REGRESAR A COMPRAR</button>
    </div>
  
    <ng-container *ngIf="cartData.data[0].numInCart !== 0">
      <div class="row">
        <div class="col my-4">
          <table class="table table-dark table-hover table-borderless">
            <thead class="table-dark">
            <tr class="text-center">
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of cartData.data; let i=index">
              <td class="d-flex align-items-center justify-content-around" >
                <img [src]="c.product.imagen" alt="{{c.product.name}}" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" (click)="cartService.DeleteProductFromCart(i)"></i></span>
              </td>
              <td><p>{{c.product.name}}</p></td>
              <td>
                <p>{{c.product.precio | currency:'MXN'}}</p>
              </td>
              <td>
                <form>
                  <div class="value-button" id="decrease" (click)="ChangeQuantity(i, false)">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" id="number" [value]="c.numInCart" readonly [max]="c.product.cantidad" />
                  <div class="value-button" id="increase" (click)="ChangeQuantity(i, true)">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>
              <td>
                <p>{{cartService.CalculateSubTotal(i) | currency:'MXN'}}</p>
              </td>
            </tr>
            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>{{cartTotal | currency:'MXN'}}</td>
  
            </tr>
  
            </tbody>
          </table>
  
  
        </div>
  
        <div class="col-md-12 d-flex mb-5">
          <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
            <a routerLink="/revisado" class="btn btn-danger btn-sm order-1">TERMINAR COMPRA</a>
            <a routerLink="/catalogo" class="btn btn-success btn-sm order-0">SEGUIR COMPRANDO</a>
          </div>
        </div>
  
      </div>
    </ng-container>
  <div class="promocion">*Envio gratis en la compra minima de $499</div>
  <div class="promocion">*Costo del envio $90</div>
  </div>
  