<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-4 ">
            <div class="footer">
              <h3 class="footer-title">Sobre Nosotros</h3>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-map-marker"></i>Cd. Azteca 1ra seccion</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>5560656816</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>ioelectronix@gmail.com</a></li>
              </ul>
            </div>
          </div>
          
      
          <div class="col-md-4 col-xs-4">
            <div class="footer">
              <h3 class="footer-title">Información</h3>
              <ul class="footer-links">
                <li><a [routerLink]="['/terminosycondiciones']" routerLinkActive="router-link-active" >Términos y condiciones</a></li>
                <li><a [routerLink]="['/contacto']" routerLinkActive="router-link-active" >Contactanos</a></li>
                <li><a [routerLink]="['/privacidad']" routerLinkActive="router-link-active" >Privacidad</a></li>
                <li><a [routerLink]="['/devolucion']" routerLinkActive="router-link-active" >Devoluciones</a></li>
                <li><a [routerLink]="['/preguntasfrecuentes']" routerLinkActive="router-link-active" >Preguntas frecuentes</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Formas de pago</h3>
              <ul class="list-group list-group-horizontal">
                <li><img class="list-group-item" src="../../../assets/img/oxxo.png" ></li>
                <li><img class="list-group-item" src="../../../assets/img/mercado pago.jpg"></li>
                <li><img class="list-group-item" src="../../../assets/img/paypal.jpg"></li>    
              </ul>
              <ul class="list-group list-group-horizontal">
                <li><img class="list-group-item" src="../../../assets/img/visa.png"></li>
                <li><img class="list-group-item" src="../../../assets/img/amex.png"></li>
                <li><img class="list-group-item" src="../../../assets/img/mastercard.png"></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->
  
    <!-- bottom footer -->
    <!-- /bottom footer -->
  </footer>
  <!-- /FOOTER -->
  