.list-group-item{
    background: none;
    border: none;
}
img{
width: 95px;
height: 65px;
}
a{
    outline: none !important;
    text-decoration: none;
}

a:hover{
    color: black !important;
}
.fa{
color: ivory;
}