.titulo{
    font-size: 25px;
    font-weight: 800;
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contacto{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ivory;
    margin-top: 5rem;
}
.horario{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ivory;
}
.logo{
    text-align: center;
    }