.prueba{
    color: black;
}
.card-body{
    text-transform: uppercase;
    color: ivory !important;
}
.categoria{
    text-align: center !important;
    color: ivory !important;
    

}
.product-name{
    text-align: left !important;
    color: black;
}
.product-price{
    color:black !important;
    text-align: center !important;

}
.descripcion{
    text-align: justify !important;
    margin-top: 2rem;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2.5rem !important;
}
.product-available{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: ivory;
}