<!-- BREADCRUMB -->

<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row d-flex">
        <!-- Product main img -->
        <div class="col-md-5 col-md-push-2">
          <div id="product-main-img">
            <ng-template [ngIf]="thumbimages.length === 0">
              <div class="product-preview">
                <img [src]="product.imagen" alt="">
              </div>
            </ng-template>
            <ng-template [ngIf]="thumbimages.length > 0">
              <div class="product-preview" *ngFor="let t of thumbimages">
                <img [src]="t" alt="">
              </div>
            </ng-template>
          </div>
        </div>
        <!-- /Product main img -->
  
        <!-- Product thumb imgs -->
        <div class="col-md-2  col-md-pull-5 ">
         <ng-template [ngIf]="thumbimages.length > 0">
           <div id="product-imgs">
             <div *ngFor="let t of thumbimages" class="product-preview">
               <img [src]="t" alt="">
             </div>
           </div>
         </ng-template>
          <ng-template [ngIf]="thumbimages.length === 0">
            <div id="product-imgs">
              <div class="product-preview">
                <img [src]="product.imagen" alt="">
              </div>
            </div>
          </ng-template>
        </div>
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-5">
          <div class="product-details">
            <h2 class="product-name">{{product?.name}}</h2>
            <div>
              <h3 class="product-price">{{product?.precio | currency:'MXN'}} </h3>
              <span *ngIf="product?.cantidad >= 1" class="product-available">Disponible</span>
              <span *ngIf="product?.cantidad < 1" class="product-available"> Agotado</span>
            </div>
            <p class="descripcion">{{product?.descripcion}}</p>
  
  
            <div class="add-to-cart">
              <div class="qty-label">
                <!--Cantidad-->
                <div class="input-number">
                  <input style="visibility: hidden;" #quantity [max]="product?.cantidad" [min]="product?.cantidad >= 1 ? product?.cantidad : 0"
                         readonly type="number" value="{{product?.cantidad >= 1 ? 1 : 0}}">
                </div>
              </div>
              <button (click)="addToCart(product?.id)" *ngIf="product?.cantidad >= 1" class="add-to-cart-btn"><i
                class="fa fa-shopping-cart"></i>Agregar a carrito
              </button>
            </div>
  
            <ul class="product-links">
              <li>Categoria:</li>
              <li>{{product?.category}}</li>
            </ul>
  
          </div>
        </div>
        <!-- /Product details -->
  
        <!-- Product tab -->
       
        <!-- /product tab -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  
  <!-- Section -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
  
       
  <!-- /Section -->
  