<div class="container">
    <h2 class="titulo">Preguntas frecuentes</h2>
    <p>¿Qué formas de pago puedo aprovechar para realizar mi compra?
        Disponemos de los siguientes medios de pago: Pago con tarjeta de crédito, débito,
        Mercado Pago y transferencias electrónicas
        </p>
    <p>¿Cuál es el costo de envío?
        El costo de envío es de $90.00 MXN , en el
        checkout, en el momento previo a la compra se mostrará el total con el envío. Envio gratis en compras mayores a $499.00</p>
        <p>¿Cómo se realizan los envíos?
            Trabajamos con: DHL
            </p>
            <p>¿Dónde puedo recibir mi pedido?
                Realizamos envíos a todo el país.</p>
                <p>¿Cuánto tarda en llegar el pedido?
                    El tiempo de entrega dependerá del tipo de envío seleccionado. En general la
                    demora se encuentra entre 3 y 7 días hábiles luego de acreditado el pago.</p>
                  <p>  ¿Cuál es el plazo para realizar un cambio?
Puedes solicitar un cambio hasta 15 días luego de realizada la compra.</p>
<p>¿Qué debo hacer si el producto no llega en buen estado?
    Ponte en contacto con nosotros a ioelectronix_ventas@gmail.com y te
    enviaremos uno nuevo.</p>

</div>
