<div class="container">
    <h2 class="titulo">Politicas de privacidad</h2>
    <p class="cuerpo">Estamos conscientes de la importancia que tiene para usted saber cómo utilizamos sus
        datos personales y le agradecemos que confíe que lo haremos con cuidado y sensatez.
        Este Aviso de Privacidad describe la forma en que IOElectronix recopilan y tratan sus
        datos personales a través de los sitios web, dispositivos, productos, servicios, tiendas en
        línea y aplicaciones de IOElectronix que hacen referencia a este Aviso de Privacidad Al
        utilizar los Servicios de IOElectronix, usted está dando su consentimiento a las
        prácticas descritas en este Aviso de Privacidad.</p>
    <h2 class="sub">¿Qué Datos Personales acerca de los Clientes recaba IOElectronix?</h2>
    <p class="cuerpo"> Recopilamos sus datos personales con el fin de proporcionar y mejorar continuamente
        nuestros productos y servicios.
        Estos son los tipos de datos personales que recabamos:</p>
        <ul>
            <li type="square">Datos que Usted Nos Proporciona: Recibimos y almacenamos todos los
                datos que usted nos proporciona en relación con los Servicios de
                IOElectronix. Haga clic aquí para ver algunos ejemplos de la información
                que recopilamos. </li>
             <li type="square">Datos Automáticos: Recopilamos y almacenamos automáticamente
                determinados tipos de datos acerca de su uso de los Servicios de
                IOElectronix, incluyendo datos acerca de su interacción con el contenido y
                los servicios disponibles a través de los Servicios de IOElectronix. Como en
                muchos sitios, utilizamos "cookies" y otros identificadores, donde
                obtenemos cierto tipo de información cuando su navegador o dispositivo
                acceda a los Servicios de IOElectronix y a otros contenidos servidos por o
                en nombre de IOElectronix en otros sitios web. Haga clic aquí para ver
                ejemplos de lo que recopilamos.</li>   
            <li type="square">
                Datos de otras Fuentes: Es posible que recibamos datos sobre usted de
otras fuentes, como información actualizada de entrega y dirección de
nuestros transportistas, que usamos para corregir nuestros registros y
entregar su próxima compra más fácilmente. Haga Clic aquí para ver
ejemplos adicionales de la información que recibimos.
            </li>
        </ul>
        <h2 class="sub">¿Comparte IOElectronix sus Datos Personales?</h2>
        <p class="cuerpo">La información relativa a nuestros clientes es parte fundamental de nuestro
            negocio y no participamos en la venta a terceros de datos personales de nuestros
            clientes. Compartimos los datos personales de los clientes sólo en la forma que
            se describe a continuación con IOElectronix.com, Inc. y con filiales bajo el control
            de IOElectronix.com, Inc., las cuales están sujetas al presente Aviso de Privacidad
            o siguen prácticas al menos tan protectoras como las descritas en el presente
            Aviso de Privacidad.</p>
</div>