<div class="container">
    <h2 class="titulo"> Políticas de devolución
    </h2>
    <p class="sub">Pide la devolución del producto </p>
<p class="cuerpo">Para devolver un producto, busca la opción “Devolver o cambiar gratis” que
    aparece en el menú de la compra que ya no quieres y sigue los pasos. Te daremos
    una etiqueta o código de devolución gratis para que envíes el producto de vuelta.
    Según la información que tengamos sobre la devolución, a veces te pediremos
    que hables con el vendedor antes de tener la etiqueta o el código.</p>
    <p class="cuerpo">También tendrás que hablar con el vendedor si al comprar acordaste la entrega
    con él. Podrás hacerlo a través de la mensajería o iniciando un reclamo desde la
    compra, si no se pueden poner de acuerdo. Ten en cuenta que en esos casos no
    te vamos a dar una etiqueta o código de devolución, pero te ayudaremos a que
    envíes de vuelta tu compra.</p>
   
    <p class="sub">prepara el paquete para enviarlo</p>
    <p class="cuerpo">Antes de preparar el paquete, revisa que el producto esté en las mismas
        condiciones que lo recibiste, sin usar y con todos sus accesorios y etiquetas.</p>
      <p class="lista">  ✓ Guarda el producto en su envoltorio original o en uno alternativo si no
        lo tienes.</p>
       <p class="lista">  ✓ Embala el producto. Si es frágil, utiliza un embalaje seguro que lo
        proteja.</p>
       <p class="lista"> ✓ Imprime la etiqueta y pégala o escribe el código de devolución en el
        paquete.</p>
        <p class="lista">✓ Entrega el paquete al correo.</p>
        <p class="cuerpo">Si compraste más de una unidad del mismo producto, debes devolver todos los
        artículos para recuperar tu dinero.</p>
    <p class="sub">recibe el reembolso del dinero</p>
    <p class="cuerpo">Haremos el reembolso 3 días hábiles después de que llegue el producto, una vez
        que revisemos si cumple con las políticas de devolución. Sin embargo, algunas
        veces podemos hacer el reembolso ni bien entregas el producto, para que tengas
        el dinero más rápido.
        Una vez que hagamos el reembolso, podrás ver todos los detalles sobre el monto,
        lugar y día de acreditación del dinero desde el estado de tu compra. </p>

    <p class="sub"> ¿Cuánto tiempo tengo para enviar el producto?</p>
    <p class="cuerpo">La etiqueta o el código que te damos tiene validez por 7 días. Si por algún
        motivo no puedes entregar el paquete al correo durante ese tiempo, podrás
        pedirnos otra etiqueta o código. Para hacerlo, tendrás que volver a iniciar la
        devolución con la opción “Devolver o cambiar gratis”.</p>
</div>